<div class="">
    <h3>
        Attendees:
    </h3>
</div>
<div class="" id="attendee-cntr-loop">
    {{!-- ARRAY --}}
    {{!-- correct plz --}}
    {{#each ///}}
        Attendee Name: {{Guest.name}}<br/>
        {{!-- first, last? --}}
        Song Choice: {{Song.title}} {{Song.artist}}<br/>
        Costume: {{Costume.costume}}<br/>
        Snack: {{Snack.food}}<br/>
    {{/each}}
</div>

{{!-- ATTENDEES, GUESTS --}}
{{!-- vs USERS, LOGIN CREDS --}}

{{!-- PARTIAL? --}}