<div class="container" id="attendee-cntr">
    <div class="">
        <h3>
            Attendees:
        </h3>
    </div>
    <div class="" id="attendee-cntr-loop">
        {{!-- <ul> --}}
            {{!-- ARRAY --}}
            {{#each ///}} 
                Attendee Name: {{Guest.name}}<br/>
                {{!-- first, last? --}}
                Song Choice: {{Song.title}} {{Song.artist}}<br/>
                Costume: {{Costume.costume}}<br/>
                Snack: {{Snack.food}}<br/>
            {{/each}}
        {{!-- </ul> --}}
    </div>
</div>

{{!-- ATTENDEES, GUESTS --}}
{{!-- vs USERS, LOGIN CREDS --}}